/*----------------------------*/
/*  ELEMENTOS DO HEADER     *
/*----------------------------*/
@media screen and (max-width:880px) {
    nav ul li a{
        padding: 10px 5px;
        font-size: 80%;
    }

    nav ul li a.criarconta{
        border: 1px solid #FFF;
        padding: 5px 10px;
        font-size: 80%;
    }

    nav ion-icon#icone-user{
        width: 35px;
        height: 35px;
        margin-top: -6px;
    }

    /*------TIPOGRAFIA------------- */
    header div#chamada h1{
        font-size: 250%;

    }

    header div#chamada h4{
        font-size: 150%;
    }
}

/*------TIPOGRAFIA------------- */
header div#chamada h1{
    font-size: 320%;
}

header div#chamada h4{
    font-size: 200%;
}

header div#chamada a{
    padding: 20px 40px;
}

/*----------------------------*/
/*  SEÇÃO - DIA PERFEITO      */
/*----------------------------*/

div#dia-perfeito-esquerda, div#dia-perfeito-direita{
    display: none;
}

div#dia-perfeito-centro{
    width: 80%;
}

/*------TIPOGRAFIA------------- */
section#dia-perfeito div#dia-perfeito-centro p{
    width: 100%;
}

/*----------------------------*/
/*  SEÇÃO - DEPOIMENTOS       */
/*----------------------------*/
div#testemunha-esquerda, div#testemunha-direita{
    width: 10%;
    height: 150px;
    cursor: pointer;
}

div#testemunha-centro{
    width: 80%;
}

div#testemunhos{
    position: absolute;
    left: 0px;
    width: 2680px;
}

/*------TIPOGRAFIA------------- */

section#testemunha p.destaque{
    width: 80%;
}

/*----------------------------*/
/*  SEÇÃO - LANCHES           */
/*----------------------------*/

section#lanches div#lanches-opcoes-mestre{
    width: 95%;
}

div#bebidas-opcoes{
    width:100%;
    align-items: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;    
}

/*------TIPOGRAFIA------------- */
section#lanches h2{
    font-size: 160%;

    animation-name: LanchesH1-tablet;
    animation-duration: 2s;
    animation-delay: 0.9s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

section#lanches p.destaque{
    font-size: 80%;
    width: 40%;

    animation-name: Lanches-P-destaque-tablet;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

section#lanches div#lanches-opcoes-mestre h4{
    font-size: 110%;
}

/*-----------------------------*/
/*         SEÇÃO BEBIDAS       */
/*-----------------------------*/

div#bebidas-opcoes-mestre{
    width: 100%;    
}

div#bebidas-opcoes{
    justify-content: center;  
}

div#bebidas-opcoes ul{
    width: 100%;   
}

div#bebidas-opcoes ul li{
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

/*------TIPOGRAFIA------------- */

section#bebidas h2{
    font-size: 140%; 
}

section#bebidas p.destaque{
    font-size: 80%;
    width: 40%;
}

section#bebidas ul li p.informacao{
    width: 90%;
    font-size: 100%;
    border: 2px solid #FFF;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;

    border-radius: 10px;
}

/*----------------------------*/
/*  SEÇÃO - PLANOS            */
/*----------------------------*/
section#plano-principal div#planos-janela{
    width: 100%;
    padding-right: 80px;
}

div.planos{
    margin: 80px 5px;
}

@media screen and (max-width:970px) {
    section#plano-principal ul li{
        font-size: 65%;
        margin-left: 2px;
    }
}


/*-----------------------------*/
/*         SEÇÃO IMAGEM        */
/*-----------------------------*/

section#imagem div#imagem-mestre ul, div#imagem-mestre-primeira-img ul{
    width: 100%;
    margin-left: -12px;
    justify-content: center;
}

section#imagem div#imagem-mestre ul li, div#imagem-mestre-primeira-img ul li{
    width: 250px;
    height: 200px;
}

div#imagem-mestre-primeira-img ul li img{
    width: 100%;
    height: 100%;   
}

/*------TIPOGRAFIA------------- */
section#imagem h2{
    font-size: 150%;
}

section#imagem p{
    width: 70%;
}

/*----------------------------*/
/*        FOOTER              */
/*----------------------------*/
footer div#mapa{
    width: 45%;
    margin-left: 15px;
}

footer div#info{
    width: 40%; 
    margin-right: auto;
    
}

footer div#info div#redes-sociais{
    width: 50%;
    height: 70px;
}

footer div#lanche-rodape-decoracao{
    display: none;
}

